.userinfo_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userinfo_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:60%;
    height:80%;
    margin-top: 100px;
    color: red;
    
}